* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
  margin-block-end: 30px;
}

.container {
  inline-size: 500px;
  padding: 20px;
  text-align: left;
  background-color: white;
  margin-block-start: 50px;
  margin: 0 auto;
}

.container p {
  margin-block-end: 15px;
}

.form {
  max-width: 500px;
}

.form input,
button {
  inline-size: 500px;
  margin-block-end: 15px;
  height: 3vh;
}

button {
  color: white;
  background-color: green;
  border-radius: 5px;
  border: none;
  inline-size: 505px;
  cursor: pointer;
  text-align: center;
}

.form label {
  margin-block-end: 200px;
}
